<a href="https://colab.research.google.com/github/abhishek01bv/Python-Assignment-Data-Mites-/blob/main/Python_Assignment_Questions_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) From the below nested dictionary, pick the word "Bangalore".
   d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

2) Write a program to reverse a string using while loop

3) Write a program to find sum of all numbers from 1 to 20 using for loop

4) Write a program to display the numbers in reverse from 100 to 1

5) Write program to test whether the given number lies between 1 and 10

6) Write program to display multiples of 2 from 10 to 50 using range

7) Use functions to return square of numbers from 2 to 5

8) Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it.And also it must return both addition and subtraction in a single return call

9) Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both,and if the salary is missing in function call it should show it as 9000

10) Write a recursive function to calculate the sum of numbers from 0 to 10

11) Generate a Python list of all the even numbers between 4 to 30

12) Write a Python program which accepts the radius of a circle from the user and compute the area.

13. Write a Python program to display the current date and time

14. Write a Python program to calculate number of days between two dates. Sample dates : (2014, 7, 2), (2014, 7, 11)

15. Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference

16.  Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference

17. We have set, set1={5,6,7,8} How to add multiple items 12,15,18 in set1?

18. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers

19. Convert Celsius to Fahrenheit using a lambda function

20. Find the maximum of two numbers using a lambda function

In [4]:
#!
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}
d['2'][1]['Two'][3]['Place'][3]

'Bangalore'

In [9]:
#2
string  = 'Bangalore'
b=''
while string:
  b+=string[-1]
  string = string[:-1]
print(b)

erolagnaB

In [11]:
#3
a=0
for i in range(0,21):
  a =a+i
  print(a)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [12]:
 #4
 a = 100
 while a>=1:
  print(a)
  a-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [14]:
#5
a = int(input('enter the number'))
if a in range(1, 11):
  print('yes')
else:
  print('no')

enter the number2
yes

In [15]:
#6
for i in range(10,51,2):
  print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [24]:
#7
a = []
def sq():
  for i in range(2,6):
    print(i**2)

sq()

4
9
16
25

In [25]:
#8
def calculator():
  a = int(input('enter the number'))
  b= int(input('enter the number'))
  s = a+b
  d = a-b
  return s,d
calculator()

enter the number7
enter the number5

(12, 2)

In [51]:
#9
def showEmployee():
  name = input('enter the name: ')
  salary = input('enter the salary')
  if salary == '':
    print('9000')

  return name,salary
showEmployee()

enter the name: abc
enter the salary
9000

('abc', '')

In [30]:
# 10
def recursive():
  a = 0
  for i in range(0,11):
    a+= i
    print(a)
recursive()

0
1
3
6
10
15
21
28
36
45
55

In [27]:
#11
a = []
for i in range(4,31,2):
  a.append(i)

print(a)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [32]:
#12
radius = int(input('enter the radius of the circle '))
area = 3.14*radius**2
print(area)

enter the radius of the circle 5
78.5

In [33]:
#13
import datetime
now = datetime.datetime.now()
print(now)

2024-07-30 17:51:23.625940

In [37]:
#14
import datetime

a = datetime.date(2014,7,15)
b = datetime.date(2014,7,11)
delta = a-b
print(delta.days)

4

In [40]:
#15
def dif():
  num = int(input('enter the number: '))
  a = num - 17
  if num > 17:
    return a+a
  else:
    return a
dif()

enter the number: 20

6

In [41]:
#17
set1={5,6,7,8}
set1.add(12)
set1.add(15)
set1.add(18)
print(set1)

{5, 6, 7, 8, 12, 15, 18}

In [45]:
#18
cm = input('enter the number')
cm = cm.split(',')
print(cm)
lis = list(cm)
tup = tuple(cm)
print(lis)
print(tup)

enter the number10 2
['10 2']
['10 2']
('10 2',)

In [47]:
#19
celsius_to_fahrenheit = lambda c: (c * 9/5) + 32

celsius = int(input('enter the number'))
fahrenheit = celsius_to_fahrenheit(celsius)
print(f"{celsius}Â°C is {fahrenheit}Â°F")

enter the number35
35Â°C is 95.0Â°F

In [50]:
#20
maxi_of_two = lambda a,b: a if a>b else b
a = int(input('enter the number'))
b = int(input('enter the number'))
print(maxi_of_two(a,b))

enter the number8
enter the number5
8